.container {
  display: grid;
  grid-template-columns: "1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr";
  grid-template-rows: "10px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr";
  width: 1240px;
  height: 655px;
  /* grid-column-gap: 10px;
  grid-row-gap: 10px; */
}

.navbar{
  display: grid;
  height: 100%;
  width: 100%;
  padding-bottom: 3px;
  grid-template-rows: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 20px;
}

.navText {
  grid-row: 1;
  grid-column: 1 / 2;
  margin: 0px;
  text-align: center;
}

.navButton1 {
  grid-row: 1;
  grid-column: 2 / 3;
  height: 100%;
  margin-left: 30px;
}
.navButton2 {
  grid-row: 1;
  grid-column: 3 / 4;
  height: 100%;
  margin-left: 30px;
}
.navButton3 {
  grid-row: 1;
  grid-column: 4 / 5;
  height: 100%;
  margin-left: 30px;
}

.grid-cell {
  background-color: white;
  border-style: solid;
  border-width: thin;
  width: 100%;
  height: 100%;
  margin: none;
  transition-delay: 1s;
  transition-duration: 1s, 1s;
}

.active-cell {
  border-style: solid;
  border-width: thin;
  width: 100%;
  height: 100%;
  margin: none;
  background-color: teal;
}
